body {
  background:#edf7fa;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
    margin: 128px auto;
    max-width: 600px;
}
header{
    margin-bottom: 30px;
}

h1 {
    font-weight: 800;
    font-size: 39px;
    text-align: center;
    line-height: 1.5;
    color: #5f6caf;
}



form{
    padding: 10px;
    background-color: white;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
    border-radius: 10px;
    display: flex;
     margin-bottom: 30px;
}

.instructions {
padding: 16px;
border: 1px solid rgba(39, 33, 66, 0.5);
width: 80%;
font-size: 16px;
border-radius: 50px;
line-height: 20px;
color: #5f6caf;
}

.submit-button {
    margin-left: 10px;
    background: #6378da;
    color:white;
    border: none;
    font-size: 16px;
    width: 150px;
    border-radius: 50px;
    padding: 14px 24px;

}

.poem{
    font-size: 16px;
    background-color: #ffff;
    padding: 20px;
    line-height: 2;
    border-left: 3px solid #6378da;
    box-shadow: 0px 20px 60px rgba(65, 50, 100, 0.08);
   }

a {
    
color:#5f6caf;
}

footer{
    text-align: center;
    font-size: 13px;
    margin-top: 30px;
}